.sidebarContainer {
  display: flex;
  position: relative;
  flex-shrink: 0;
  height: 100%;
}

.resizeHandle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0.3rem;
  cursor: col-resize;
  background-color: transparent;
  z-index: 10;

  &:hover {
    background-color: var(--color-primary);
  }
}

.resizeHandle.resizing {
  background-color: var(--color-primary);
  width: 0.2rem;
}

/* Global class for body when resizing */
:global(body.resizingSidebar) {
  cursor: col-resize;
  user-select: none;
}
